Source: aptly
Section: net
Priority: optional
Maintainer: Thread, Inc. <tech@thread.com>
Build-Depends: debhelper (>= 7.0.50~), python
Standards-Version: 3.9.5

Package: aptly
Architecture: all
X-Python-Version: >= 2.6
Depends:
  ${misc:Depends},
  ${python:Depends},
  gnupg,
  dpkg-dev,
  python-apt,
  python-daemon,
  python-eventlet,
Description: Thread APT server
